.screen {
  min-height: 100vh;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

button {
  padding: 12px;
  font-size: 16px;
}

.options button.selected {
  background-color: #4caf50;
  color: white;
}

.poema {
  padding: 12px;
}